#nav-bar
{
    display: inline-block;
    justify-items: center;
}

#car-bg
{
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-position: center;
    background-image: url("../IMG/Car_moto-rental/bg1.jpg");

}

#nav-car
{
    padding-top: 200px;
    font-family: sans-serif;
    justify-items: center;
    font-size: 25px;
}

/* Header */

.form-group {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}

.form-group label {
    display: block;
    color: white;
    /* margin-bottom: 5px; */
}

.form-group input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    margin-top: 45px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #2ecc71;
    /* Màu xanh lá */
    color: #fff;
}

.btn-primary:hover {
    background-color: #27ae60;
}

.content-car
{
    font-family: sans-serif;
    width: 80%;
    margin: auto;
}

.nav-link {
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 90px;
    transition: all 0.3s ease;
}

.nav-link:hover {
    background-color: #f0f0f0;
    color: #007bff;
}

.cards
{
    padding-top: 10px;
    display: grid;
    /* một dòng chỉ 4 hình */
    grid-template-columns: repeat(4, 1fr); 
    width: 100%;
    margin: auto;
}

.car-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.car-card:hover {
    transform: translateY(-5px);
}

.car-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.car-info {
    padding: 15px;
}

.car-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.car-meta {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 5px;
}

.price {
    margin-top: 10px;
    font-weight: bold;
    color: #e60000;
}

.old-price {
    text-decoration: line-through;
    color: #999;
    font-size: 0.9em;
    margin-left: 10px;
}

.specs {
    margin-top: 10px;
    font-size: 0.9em;
    color: #333;
}