body
{
    font-family: sans-serif;
}
.tourirst
{
    background-image: url(../IMG/Tourist/bg_main.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
    border-radius: 0px 0px 15px 15px;
}
.tour-travel
{
    background-image: url(../IMG/Tourist/bg.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
    border-radius: 0px 0px 15px 15px;
}
.tour-heritage {
    background-image: url(../IMG/Tourist/bg_h.jpg);
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 60vh;
    border-radius: 0px 0px 15px 15px;
}
.text-travel
{
    text-align: center;
    color: white;
    font-family: sans-serif;
}
.text-travel h1
{
    padding-top: 205px;
    letter-spacing: 5px;
    font-size: 50px;
    font-weight: bold;
}
.container_tour
{
    width: 80%;
    margin: auto;
    font-family: sans-serif;
}
.one
{
    padding-top: 15px;
}
.one>h2
{
    font-weight: bold;
    margin-left: 45px;
}
.tour-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}
.tour-card {
    position: relative;
    gap: 50px;
}

.tour-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #e74c3c;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

.tour-card h2 {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.rating {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.score {
    background-color: #2ecc71;
    color: #fff;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.label {
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
}

.reviews {
    margin-left: 5px;
    font-size: 14px;
    color: #888;
}

.destinations {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 10px;
}

.destinations li {
    margin-bottom: 5px;
    font-size: 14px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    color: #e74c3c;
    margin-top: 20px;
    text-align: center;
}

#pagination
{
    justify-content: center;
}
.pagination .page-link.active {
    background-color: #e7695b;
    color: white;
    font-weight: bold;
}

#br-ft
{
    font-family: sans-serif;
}