body
{
    background-color: white;
}

#navbar {
    position:relative;
    top: 0;
    left: 0;
    background-image: url(../IMG/bg2.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
    transition: height 0.8s ease;
}

.container-ht
{
    width: 80%;
    font-family: Arial;
    display: flex;
    margin: auto;
    padding-top: 20px;
}
.left-ht
{
    width: 30%;
    background-color: rgb(254, 254, 253);
    border: 1px solid rgba(161, 159, 159, 0.799);
    border-radius: 15px;
    height: 500px;
}
.search-box label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px; }

.search-box
{
    padding: 20px;
    width: 100%;
    border-radius: 15px;
}
.search-box>h3
{
    font-weight: bold;
}
.input-icon {
    position: relative; 
}
.input-icon input {
    width: 80%;
    border-radius: 5px;
}
.search-box select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px; 
}
.search-box button {
    margin-top: 5px;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer; }

.right-ht
{
    width: 70%;
}


.tour-card {
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.tour-card:hover {
    transform: translateY(-10px);
}

.tour-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.tour-content {
    padding: 20px;
}

.rating {
    color: #ffa500;
    font-size: 16px;
    margin-bottom: 10px;
}

.tour-content h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #2f5d3e;
    font-weight: bold;
}

.tour-content p {
    margin: 6px 0;
    color: #555;
    font-size: 15px;
}

.tour-content i {
    margin-right: 8px;
    color: green;
}

.details-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.details-link {
    display: inline-block;
    margin-top: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    transition: color 0.2s;
}

.details-link:hover {
    color: green; 
}
.tour-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 10px;
}

.tour-card-wrapper {
    flex: 0 0 calc(25% - 22.5px);
    display: none;
}

.tour-card-wrapper.active {
    display: block; 
}

.page-link.active,
.page-link:hover.active
{
    background-color: #007bff; /* Màu xanh biển */
    color: white;
    border-color: #007bff;
}

#pagination
{
    justify-content: center;
}